<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.tutu.wow.editor.db.characters.mapper.TransmogrificationCharacterCollectionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.tutu.wow.editor.db.characters.model.TransmogrificationCharacterCollections">
        <id column="guid" property="guid" />
        <result column="skins" property="skins" />
    </resultMap>

</mapper>
