<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.tutu.wow.editor.db.world.mapper.ItemTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="me.tutu.wow.editor.db.world.model.ItemTemplate">
        <id column="entry" property="entry" />
        <result column="class" property="class" />
        <result column="subclass" property="subclass" />
        <result column="SoundOverrideSubclass" property="soundoverridesubclass" />
        <result column="name" property="name" />
        <result column="displayid" property="displayid" />
        <result column="Quality" property="quality" />
        <result column="Flags" property="flags" />
        <result column="FlagsExtra" property="flagsextra" />
        <result column="BuyCount" property="buycount" />
        <result column="BuyPrice" property="buyprice" />
        <result column="SellPrice" property="sellprice" />
        <result column="InventoryType" property="inventorytype" />
        <result column="AllowableClass" property="allowableclass" />
        <result column="AllowableRace" property="allowablerace" />
        <result column="ItemLevel" property="itemlevel" />
        <result column="RequiredLevel" property="requiredlevel" />
        <result column="RequiredSkill" property="requiredskill" />
        <result column="RequiredSkillRank" property="requiredskillrank" />
        <result column="requiredspell" property="requiredspell" />
        <result column="requiredhonorrank" property="requiredhonorrank" />
        <result column="RequiredCityRank" property="requiredcityrank" />
        <result column="RequiredReputationFaction" property="requiredreputationfaction" />
        <result column="RequiredReputationRank" property="requiredreputationrank" />
        <result column="maxcount" property="maxcount" />
        <result column="stackable" property="stackable" />
        <result column="ContainerSlots" property="containerslots" />
        <result column="StatsCount" property="statscount" />
        <result column="stat_type1" property="statType1" />
        <result column="stat_value1" property="statValue1" />
        <result column="stat_type2" property="statType2" />
        <result column="stat_value2" property="statValue2" />
        <result column="stat_type3" property="statType3" />
        <result column="stat_value3" property="statValue3" />
        <result column="stat_type4" property="statType4" />
        <result column="stat_value4" property="statValue4" />
        <result column="stat_type5" property="statType5" />
        <result column="stat_value5" property="statValue5" />
        <result column="stat_type6" property="statType6" />
        <result column="stat_value6" property="statValue6" />
        <result column="stat_type7" property="statType7" />
        <result column="stat_value7" property="statValue7" />
        <result column="stat_type8" property="statType8" />
        <result column="stat_value8" property="statValue8" />
        <result column="stat_type9" property="statType9" />
        <result column="stat_value9" property="statValue9" />
        <result column="stat_type10" property="statType10" />
        <result column="stat_value10" property="statValue10" />
        <result column="ScalingStatDistribution" property="scalingstatdistribution" />
        <result column="ScalingStatValue" property="scalingstatvalue" />
        <result column="dmg_min1" property="dmgMin1" />
        <result column="dmg_max1" property="dmgMax1" />
        <result column="dmg_type1" property="dmgType1" />
        <result column="dmg_min2" property="dmgMin2" />
        <result column="dmg_max2" property="dmgMax2" />
        <result column="dmg_type2" property="dmgType2" />
        <result column="armor" property="armor" />
        <result column="holy_res" property="holyRes" />
        <result column="fire_res" property="fireRes" />
        <result column="nature_res" property="natureRes" />
        <result column="frost_res" property="frostRes" />
        <result column="shadow_res" property="shadowRes" />
        <result column="arcane_res" property="arcaneRes" />
        <result column="delay" property="delay" />
        <result column="ammo_type" property="ammoType" />
        <result column="RangedModRange" property="rangedmodrange" />
        <result column="spellid_1" property="spellid1" />
        <result column="spelltrigger_1" property="spelltrigger1" />
        <result column="spellcharges_1" property="spellcharges1" />
        <result column="spellppmRate_1" property="spellppmrate1" />
        <result column="spellcooldown_1" property="spellcooldown1" />
        <result column="spellcategory_1" property="spellcategory1" />
        <result column="spellcategorycooldown_1" property="spellcategorycooldown1" />
        <result column="spellid_2" property="spellid2" />
        <result column="spelltrigger_2" property="spelltrigger2" />
        <result column="spellcharges_2" property="spellcharges2" />
        <result column="spellppmRate_2" property="spellppmrate2" />
        <result column="spellcooldown_2" property="spellcooldown2" />
        <result column="spellcategory_2" property="spellcategory2" />
        <result column="spellcategorycooldown_2" property="spellcategorycooldown2" />
        <result column="spellid_3" property="spellid3" />
        <result column="spelltrigger_3" property="spelltrigger3" />
        <result column="spellcharges_3" property="spellcharges3" />
        <result column="spellppmRate_3" property="spellppmrate3" />
        <result column="spellcooldown_3" property="spellcooldown3" />
        <result column="spellcategory_3" property="spellcategory3" />
        <result column="spellcategorycooldown_3" property="spellcategorycooldown3" />
        <result column="spellid_4" property="spellid4" />
        <result column="spelltrigger_4" property="spelltrigger4" />
        <result column="spellcharges_4" property="spellcharges4" />
        <result column="spellppmRate_4" property="spellppmrate4" />
        <result column="spellcooldown_4" property="spellcooldown4" />
        <result column="spellcategory_4" property="spellcategory4" />
        <result column="spellcategorycooldown_4" property="spellcategorycooldown4" />
        <result column="spellid_5" property="spellid5" />
        <result column="spelltrigger_5" property="spelltrigger5" />
        <result column="spellcharges_5" property="spellcharges5" />
        <result column="spellppmRate_5" property="spellppmrate5" />
        <result column="spellcooldown_5" property="spellcooldown5" />
        <result column="spellcategory_5" property="spellcategory5" />
        <result column="spellcategorycooldown_5" property="spellcategorycooldown5" />
        <result column="bonding" property="bonding" />
        <result column="description" property="description" />
        <result column="PageText" property="pagetext" />
        <result column="LanguageID" property="languageid" />
        <result column="PageMaterial" property="pagematerial" />
        <result column="startquest" property="startquest" />
        <result column="lockid" property="lockid" />
        <result column="Material" property="material" />
        <result column="sheath" property="sheath" />
        <result column="RandomProperty" property="randomproperty" />
        <result column="RandomSuffix" property="randomsuffix" />
        <result column="block" property="block" />
        <result column="itemset" property="itemset" />
        <result column="MaxDurability" property="maxdurability" />
        <result column="area" property="area" />
        <result column="Map" property="map" />
        <result column="BagFamily" property="bagfamily" />
        <result column="TotemCategory" property="totemcategory" />
        <result column="socketColor_1" property="socketcolor1" />
        <result column="socketContent_1" property="socketcontent1" />
        <result column="socketColor_2" property="socketcolor2" />
        <result column="socketContent_2" property="socketcontent2" />
        <result column="socketColor_3" property="socketcolor3" />
        <result column="socketContent_3" property="socketcontent3" />
        <result column="socketBonus" property="socketbonus" />
        <result column="GemProperties" property="gemproperties" />
        <result column="RequiredDisenchantSkill" property="requireddisenchantskill" />
        <result column="ArmorDamageModifier" property="armordamagemodifier" />
        <result column="duration" property="duration" />
        <result column="ItemLimitCategory" property="itemlimitcategory" />
        <result column="HolidayId" property="holidayid" />
        <result column="ScriptName" property="scriptname" />
        <result column="DisenchantID" property="disenchantid" />
        <result column="FoodType" property="foodtype" />
        <result column="minMoneyLoot" property="minmoneyloot" />
        <result column="maxMoneyLoot" property="maxmoneyloot" />
        <result column="flagsCustom" property="flagscustom" />
        <result column="VerifiedBuild" property="verifiedbuild" />
    </resultMap>

</mapper>
